body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #CFF;
}

header{
  padding: 15px;
  position: relative;
  text-align: center;
}

section{
  padding: 10px;
  padding-bottom: 80px;
}


/*the home page **************/
.form-piece{
  margin: 2% 5%;
}

button{
  margin: 0 5%;
  background-color: blue;
  color: white;
}

#clicker{
  float: right;
}

#shakes{
  font-family: papyrus, "century gothic";
  text-align: left;
  font-size: xx-large;
  margin-left: 2.5%;
  padding: 3px 0 10px 5px;
}

#smallnote{
  font-size: x-small;
  font-family: "courier new", courier;
  margin: 10% 5%;
}

#on{
  color: red;
}



/*Count's page****************/
#word{
  font-family: "arial black", impact;
  font-weight: bold;
}

#wrapper{
  text-align: center;
  font-size: xx-large;
  margin: 2em 0 0 5em;
}

#sesame{
  float: left;
}

#text{
  margin-top: 10%;
}

footer{
  font-family: "arial narrow", arial;
  font-size: 12px;
  width: 100%
  height: 80px;
  position: absolute;
  bottom: 0;
  padding-left: 5%;
}
